In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(100212251) # to get the same random values, but have to run this line each time we create the related dataframe below "df2"

In [3]:
df = pd.DataFrame(randn(5, 3), index=['A', 'B', 'C', 'D', 'E'], columns=['C1', 'C2', 'C3'])
df

         C1        C2        C3
A  1.056924  1.254387 -1.821241
B -1.033658 -1.620970  1.574977
C -0.712264 -0.491356  2.051359
D  0.759288  0.946452  0.987257
E -0.005593 -0.438457 -0.799536

In [6]:
df.head(n=2)  # default is n=5

         C1        C2        C3
A  1.056924  1.254387 -1.821241
B -1.033658 -1.620970  1.574977

In [7]:
df<=0  # replace value by True/False, True if value is <= 0 and False vice versa

      C1     C2     C3
A  False  False   True
B   True   True  False
C   True   True  False
D  False  False  False
E   True   True   True

In [ ]:
df_2 = df[df<=0] # returns the value that meets the condition, and returns "NaN" if it doesn't meet the condition
df_2

         C1        C2        C3
A       NaN       NaN -1.821241
B -1.033658 -1.620970       NaN
C -0.712264 -0.491356       NaN
D       NaN       NaN       NaN
E -0.005593 -0.438457 -0.799536

In [13]:
df_2 = df[ df['C3']>0 ]
df_2

         C1        C2        C3
B -1.033658 -1.620970  1.574977
C -0.712264 -0.491356  2.051359
D  0.759288  0.946452  0.987257

In [15]:
df_2 = df[ (df['C3']>0) & (df['C2']>0) ]
df_2

         C1        C2        C3
D  0.759288  0.946452  0.987257